$theme-color: #49bfd6;

body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Microsoft Yahei'
}
a{
    text-decoration: none;
    &:visited{
        color:#606266;
    }
}

.el-menu-item{
    font-size: 12px;
}

.el-submenu__title {
    font-size: 12px;
}

.el-menu-item.is-active {
    color: $theme-color;
}

.el-button--primary, .el-button--primary:focus {
    background-color: #7bcad9;
    border-color: #7bcad9;
}

.el-button--primary:hover {
    background-color: $theme-color;
    border-color: $theme-color;
}

.signin-input{
    .el-input__inner{
        border:1px;
        border-radius: 25px;
        background-color: #f8f8f8;
        box-shadow: 0px 1px 1px #888888 inset;
    }
}
.signin-btn.el-button{
    border-radius: 25px;
    width: 120px;
    color: $theme-color;
    background-color:#f2f2f2;
    box-shadow: 0px 1px 2px #888888;
}
.el-pagination{
    margin-top:20px;
}
.el-select{
    width: 100%;// 设置select宽度100%
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;// 设置date-picker宽度100%
}
.el-menu-item, .el-submenu__title{
    height: 45px;
    line-height: 45px;
}
.el-cascader, .el-input-number{
    width: 100%;
}
.search-form{
    float: left;
}
.operate-box{
    float: right;
}
.search-btn{
    &,&:focus{
        background-color: #7bcad9;
        border-color: #7bcad9;
    }
    &:hover{
        background-color: #49bfd6;
        border-color: #49bfd6;
    }
}
.page-title-row{
    .page-title-back{
        display: inline-block;
        vertical-align: middle;
    }
    .page-title{
        display: inline-block;
        vertical-align: middle;
        font-size: 2em;
        margin-left: 10px;
    }
}
//新建页的form
.new-form{
    margin-top:30px;
}
